.widget {
    display: flex;
    flex-direction: row;
    gap: 20px;
    height: 100%;
    width: 100%;
    margin-bottom: 2rem;
}

.widget .card {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 8rem;
    background: #212121;
}

.widget .card .name, .widget .card .count {
    text-align: center;
}

.widget .card .name {
    font-size: larger;
    margin: 10px 0;
}

.widget .card .count {
    font-size: 3rem;
    height: 100%;
}
